#drawer-subreddits{
    background: white;
    color: black;
    opacity: 1;
}
#drawer-topic-model-select{
    background: white;
    color: black;
    opacity: 1;
}
#drawer-n-topics-input-macro{
    background: white;
    color: black;
    opacity: 1;
}
#drawer-date-range-picker{
    background: white;
    color: black;
    opacity: 1;
}